body {
    background: linear-gradient(45deg, rgb(210, 224, 251) 0%, rgb(254, 249, 217) 50%, rgb(210, 224, 251) 100%);
    background-size: cover;
}

.Name {
    color: rgb(107, 108, 166);
    font-size: 55px;
    font-weight: bolder;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    transition: ease-in-out;
}

.frame h2 {
    color: rgb(107, 108, 166);
    font-size: 35px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3:hover {
    transform: scale(1.05);
}

body {
    font-family: sans-serif;
}

.frame {
    border-radius: 10px;
    border-color: rgb(197, 153, 182);
    border-style:solid;
    padding: 20px;
    background: rgba(230, 178, 186,0.5);
    display: flex;
    flex-direction: column;
    height:100%;
}

.frame:hover {
    transform: scale(1.05);
    background: rgba(192, 201, 238,0.7);
}

.myPic {
    border-radius: 10px;
    scale: 0.95;
    height: 260px;
    object-fit: cover;
}

.sub_text {
    text-indent: 5px;
}

.sub_text_2 {
    text-indent: 20px;
}

.tab {
    display: inline-block;
    margin-left: 10px;
}

.sc_link {
    text-decoration: none;   
    color: rgb(137, 138, 196);          
    font-weight: bold;       
    font-size: 20px;  
    
}

.edu_link {
    text-decoration: none;   
    color: rgb(137, 138, 196);
    font-weight: bold; 
}

.Icon {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    margin-bottom: 6px;
}

.Gmail_Icon {
    width: 30px;
    height: 20px; 
    margin-right: 8px;
}